body {
  background-color: #273142 !important;
  color: white !important;
}

.card {
  background-color: #3a4959 !important;
  width: 22%;
  text-align: center;
  box-shadow: 5px 5px 10px #192027;
  display: inline-flex;
  margin: 0 3% 3% 0;
}

h1 {
  text-align: center;
}

.dashboardMain {
  display: flexbox;
}

.exchangesContainer {
  margin: 3% 3% 0 5%;
}

.linkImage {
  width: 7%;
  height: 7%;
  float: right;
}