body {
  background-color: #273142 !important;
  color: white !important;
}

.card {
  background-color: #3a4959 !important;
  width: 20%;
  text-align: center;
  box-shadow: 5px 5px 10px #192027;
}

h1 {
  text-align: center;
}

.dashboardMain {
  display: flexbox;
}

.exchangesDiv {
  margin: 3% 0 0 5%;
}
