body {
  background-color: #273142 !important;
  color: white !important;
}

.card {
  background-color: #3a4959 !important;
  width: 24%;
  text-align: center;
  box-shadow: 5px 5px 10px #192027;
  display: inline-flex;
  margin: 0 1% 1% 0;
}

h1 {
  text-align: center;
}

.dashboardMain {
  display: flexbox;
}

.exchangesContainer {
  margin: 1% 2% 0 2%;
}

.linkImage {
  width: 7%;
  height: 7%;
  float: right;
}

.chartContainer {
  height: 250px;
}